* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0px auto;
    max-width: 1020px;
    background-color: #FFFFFF;
    border: #000000 solid 2px;
}

.icon-search {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    position: relative;
    border: solid 2px #6F809E;
    bottom: 31px;
    left: 11px;
}

.icon-search::before {
    content: "";
    width: 10px;
    height: 2px;
    background-color: #6F809E;
    border-radius: 3px;
    position: absolute;
    transform: rotate( 45deg);
    left: 8px;
    top: 12px;
}

.search-header {
    background-color: #F4F7FC;
    padding: 20px 0 0 30px;
}

.btn-search {
    padding: 11px 0 12px 40px;
    background-color: #DAE1EC;
    border-radius: 4px;
    border: none;
    width: 300px;
    color: #2E3B52;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

::placeholder {
    color: #2E3B52;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.checkbox {
    padding-left: 30px;
}

.description {
    width: 18%
}

tr:nth-child(even) {
    background-color: #F4F7FC;
}

td {
    padding: 12px 0 12px 0;
}

.delete {
    padding-right: 30px;
}

#row-header {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #606F89;
    background-color: #F4F7FC;
}

.customer-data {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2E3B52;
}

#sort-name,
#sort-status {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cercle {
    background-color: #606F89;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.cercles {
    display: flex;
    gap: 5px;
}

#arrow-top,
#arrow-top-status {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #606F89;
}

#arrow-bottom,
#arrow-bottom-status {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #606F89;
}

.group-cta {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-left: 5px;
    cursor: pointer;
}

#cta {
    border: none;
    cursor: pointer;
}

.divName,
.divRate,
.divBalance,
.div,
.divDeposit {
    display: flex;
    flex-direction: column;
}

.balance-red {
    color: #E01A1A;
}

.balance-green {
    color: #04991c;
}

.balance {
    color: #606F89;
}

.customer-data1 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2E3B52;
    background-color: #F4F7FC;
}

.cta-active {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    cursor: pointer;
    color: #FFFFFF;
    background: #0A65FF;
    border-radius: 11px;
    padding: 5px;
    border: none;
}

#display {
    display: none;
}

.cta-inactive {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    cursor: pointer;
    background: #FFFFFF;
    color: #606F89;
    border: 1px solid #606F89;
    border-radius: 11px;
    padding: 5px;
}

.full-name {
    color: #2E3B52;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.id {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #606F89;
}

.currency {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #606F89;
}

.min {
    color: #E01A1A;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

.left-footer {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #606F89;
}

.right-footer {
    display: flex;
    gap: 50px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #606F89;
}

#arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #606F89;
}

#arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #606F89;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.group-btn {
    gap: 50px;
    display: flex;
}

.selectionRow {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #606F89;
}